@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input arrows */

@layer components {
  .btn {
    @apply bg-black px-5 py-3 text-white transition-all hover:scale-105 active:scale-100;
  }

  .btn-icon {
    @apply fill-black p-1 text-xl transition-all hover:scale-105 active:scale-100;
  }

  .divider {
    @apply my-5 h-px w-full bg-zinc-200;
  }

  .overflow-overlay {
    overflow-y: scroll;
    overflow-y: overlay;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.carousel-status {
  display: none;
}
